<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>CategoryServiceController</servlet-name>
        <servlet-class>controller.CategoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>introduceController</servlet-name>
        <servlet-class>controller.introduceController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>contactController</servlet-name>
        <servlet-class>controller.contactController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productController</servlet-name>
        <servlet-class>controller.productController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>homeController</servlet-name>
        <servlet-class>controller.homeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>selectproduct</servlet-name>
        <servlet-class>controller.selectproduct</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>productdetailcontroller</servlet-name>
        <servlet-class>controller.productdetailcontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>shoppingcartController</servlet-name>
        <servlet-class>controller.shoppingcartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteController</servlet-name>
        <servlet-class>controller.DeleteController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>updatequantityProductController</servlet-name>
        <servlet-class>controller.updatequantityProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>checkoutController</servlet-name>
        <servlet-class>controller.checkoutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>signupconsultation</servlet-name>
        <servlet-class>controller.customeradvise</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyProductController</servlet-name>
        <servlet-class>controller.BuyProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logincontroller</servlet-name>
        <servlet-class>controller.logincontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>manageSpaController</servlet-name>
        <servlet-class>controller.manageSpaController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>trainningController</servlet-name>
        <servlet-class>controller.trainningController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>logoutcontroller</servlet-name>
        <servlet-class>controller.logoutcontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createordercontroller</servlet-name>
        <servlet-class>controller.createordercontroller</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listOrdercontroller</servlet-name>
        <servlet-class>controller.listOrdercontroller</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CategoryServiceController</servlet-name>
        <url-pattern>/categoryservice</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>introduceController</servlet-name>
        <url-pattern>/gioithieu</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>contactController</servlet-name>
        <url-pattern>/lienhe</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productController</servlet-name>
        <url-pattern>/sanpham</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>homeController</servlet-name>
        <url-pattern>/home</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>selectproduct</servlet-name>
        <url-pattern>/loaisanpham</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>productdetailcontroller</servlet-name>
        <url-pattern>/chitietsanpham</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/addcart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>shoppingcartController</servlet-name>
        <url-pattern>/giohang</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteController</servlet-name>
        <url-pattern>/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>updatequantityProductController</servlet-name>
        <url-pattern>/updatequantity</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>checkoutController</servlet-name>
        <url-pattern>/thanhtoan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>signupconsultation</servlet-name>
        <url-pattern>/dangkytuvan</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyProductController</servlet-name>
        <url-pattern>/muasanpham</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logincontroller</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>manageSpaController</servlet-name>
        <url-pattern>/quanly</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>trainningController</servlet-name>
        <url-pattern>/daotao</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>logoutcontroller</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createordercontroller</servlet-name>
        <url-pattern>/hoadon</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listOrdercontroller</servlet-name>
        <url-pattern>/danhsachdonhang</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
